<!-- Simple Card which has various components of the rental craetion
     ngModel helps with two way binding (import module in app.module.ts)
//-->
<!--
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>HELLO</mat-expansion-panel-header>
    //-->
  <mat-card>
      <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <div class="example-container">
      <mat-card-title>Create a rental post!</mat-card-title>
      <!--With Forms we remove directive databinding
        Used # (directive) and linked it either to ngForm or ngModel
        used it for ngIf for error statement
      //-->
        <mat-form-field>
          <input
            matInput
            placeholder="Post Title"
            type="text"
            name="title"
            ngModel
            required
            #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a post title!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea
            matInput
            rows="4"
            placeholder="Description"
            name="content"
            ngModel
            required
            #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter post content!</mat-error>
        </mat-form-field>

      <div class="example-container-g">
        <mat-form-field>
          <mat-select placeholder="Rent/To Rent">
            <mat-option value="option">Rent</mat-option>
            <mat-option value="option">To Rent</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Shipping Available">
            <mat-option value="option">Available</mat-option>
            <mat-option value="option">Not Availablle</mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Max Rent Length">
              <mat-option value="option">1 Week</mat-option>
              <mat-option value="option">2 Weeks</mat-option>
              <mat-option value="option">3 Weeks</mat-option>
              <mat-option value="option">Other</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
          <input type="file" #filePicker>
        </div>
    </div>
    <button
      class="fix-button"
      mat-raised-button
      color="primary"
      type="submit">Submit</button>
    </form>
  </mat-card>
<!--
</mat-expansion-panel>
</mat-accordion>//-->
