<hr class="style12">
<div>
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <!--ngFor is used to loop through html elements to repeat
    * as needed for the amount of data outputted
    * nfIf used to display part parts of code
    * you can add in functions, variable conditions
    -->
    <mat-expansion-panel *ngFor="let post of posts" >
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <p>{{ post.content }}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-body-1" *ngIf="posts.length == 0"></p>
</div>
