<script src="https://apis.google.com/js/platform.js"></script>
<mat-toolbar color="primary">
    <span>LIFT</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>
    <span>
    <button class = "menu"mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus pr-1"></i> Google +</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </span>
  </mat-toolbar>

